.page-placeholder {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.placeholder-image {
    height: 20vmin;
    pointer-events: none;
}